<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" href="img/favicon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Optional JavaScript -->
<!-- jQuery first, then popper JS, then Bootstrap JS, then React JS, then FeatherIcons JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.3/cjs/react.production.min.js"
	integrity="sha384-x5zurvT1R4tuaJ/nHbK76pecX4+cEzBrLXlxfb1Eq0/guke0r10TNCMmT/7HXGt7"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.19.0/feather.js"
	integrity="sha384-l8eL5ML7bVJCDhTVpk0ZkgHq213tIR8cF54vbE3ZMRo/qohsRFxA48KPE8OEWtFQ"
	crossorigin="anonymous"></script>

<!-- Load Custom CSS File -->
<link rel="stylesheet" href="custom.css">

<title th:utext="#{title.projects_new}"></title>
</head>

<body>

	<!-- Include Navbar -->
	<th:block th:include="/_navbar"></th:block>

	<!-- Hier Content einfügen -->

	<div class="container">
		<div class="page-header shadow-sm p-3 mb-5 bg-white rounded">
			<h1 th:utext="#{title.project_new}"></h1>
		</div>

		<div class="clearfix"></div>


		<div class="card">
			<h4 class="card-header" th:utext="#{card.header.projects_new}"></h4>
			<div class="card-body">
				<p class="card-text"></p>
				<form th:action="@{/projects_new}" th:object="${projectsForm}" method='POST'>			
					<div class="form-group row">
						<label for="name" class="col-sm-3 col-form-label"
							th:utext="#{form.projects.name}"><span class="required">
								*</span></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" th:field="*{name}"
								th:placeholder="#{form.projects.name.placeholder}" required>
								<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="description" class="col-sm-3 col-form-label"
							th:utext="#{form.projects.description}"></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" th:field="*{description}"
								th:placeholder="#{form.projects.description.placeholder}">
								<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="employee1" class="col-sm-3 col-form-label"
							th:utext="#{form.projects.employee1}"></label>
						<div class="col-sm-9">
							<input type="text" class="form-control" th:field="*{employee1}"
								th:placeholder="#{form.projects.employee1.placeholder}" required>
								<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('employee1')}" th:errors="*{employee1}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label for="password" class="col-sm-3 col-form-label"
							th:utext="#{form.projects.employee2}"></label>
						<div class="col-sm-9">
							<input type="text" class="form-control"
								th:field="*{employee2}"
								th:placeholder="#{form.projects.employee2.placeholder}" required>
								<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('employee2')}" th:errors="*{employee2}"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3">
							<button type="submit" class="btn btn-primary"
								th:utext="#{form.projects.button.add}"></button>

						</div>
						<div class="col-sm-3">
							<button type="reset" value="reset" name="reset"
								class="btn btn-secondary"
								th:utext="#{form.register.button.reset}"></button>

						</div>
						<div class="col-sm-3">
							<a th:href="@{/projects}" class="btn btn-secondary" role="button"
								aria-pressed="true" th:utext="#{form.register.button.cancel}"></a>
						</div>
					</div>
				</form>
			</div>


		</div>
	</div>


	<!-- Ende von Content -->

	<!-- für die Feather Icons, damit sie auftauchen-->
	<script>
        feather.replace()
    </script>
</body>

</html>